html, body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; 
  height: 100%;
  margin:0;
  padding:0;
}

.bold {
  font-weight: bold;
}

/* INDEX */

.page-container{
  background-image: url("../images/cinema.jpg");
  width: 100%;
  height: 100%; 
  background-repeat: no-repeat;
  background-size: cover;
  display:flex;
  justify-content: flex-end;
  align-items:center;
  color:white;
}

.text-container {
  width:40%;
  height: 100%; 
  display: flex;
  flex-direction:column;
  justify-content: flex-start;
  align-items:flex-start;
}

.page-container h1 {
  font-size: 6em;
}

#button-index{
  border-radius: 20px;
  padding: 2%;
}

.text-container a {
  text-decoration: none;
  color: #00B7FF;
}

/* MOVIES PAGE */

.movies-container{
  display:flex;
  flex-wrap: wrap;
  width:100%;
}

.movie-container{
  width:33%;
  display:flex;
  flex-direction:column;
  align-items:center;
  padding:1.5% 0%;
}

.movie-container:nth-child(n){
  padding: 0.5% 0;
  margin-bottom:2%;
}

.heading {
  padding-left:5%;
  padding-bottom:3%;
}

.heading h2 {
  font-weight:lighter;
}

.movie-title {
  font-weight:bold;
}

/* MOVIE PAGE */

.one-movie-container{
  display:flex;
  justify-content:center;
  padding-top: 2%;
  width:100%;
  height:80vh;
  position:relative
}

.one-movie-content-container{
  width:50%;
}

.one-movie-container img{
  height: 40vh;
  width: auto;
  position:absolute;
  left:10%;
}

.star-list {
  padding:0 15px;
}