<div class="heading">
  <h1>Ironhack Cinema</h1>
  <h2>Click on the movie to check the showtimes!</h2>
</div>

<div class="movies-container">
  {{#each movies}}
    <article class="movie-container">
      <img src="{{this.image}}" alt="movie image">
      <p class="movie-title">{{this.title}}</p>
      <a class="link-more" href="/movie/{{this._id}}">See more</a>
    </article>
  {{/each}}
</div>




